@{
    ViewData["Title"] = "Home Page";
}
@model IndexViewModel


<div class="container-fluid">

    <div class="d-flex container justify-content-center">
        @foreach (Company comp in Model.Companies)
        {
            <a class="btn col" href="~/Home/Index?companyID=@comp.Id"><img src="~/@comp.img" class="img-thumbnail rounded" /></a>
        }
    </div>

    <div class="container justify-content-center" style="margin-top: 20px">
        <div class="d-flex flex-wrap" style="margin-top: 10px">
            @for (int j = 0; j < Model.Cars.Count(); j++)
            {
                <div class="col-4 mt-1">
                    <a class="card text-decoration-none" href="~/Home/Vehicle?carID=@Model.Cars.ElementAt(j).Id">
                        <img class="card-img-top" src="~/img/@Model.GetImageName(Model.Cars.ElementAt(j).Id)" alt="Card image cap" width="300" height="200">
                        <div class="card-body">
                            <h1 class="fs-3" style="color:darkslategrey">@Model.Cars.ElementAt(j).Manufacturer.sName @Model.Cars.ElementAt(j).Model</h1>
                        </div>
                    </a>
                </div>
            }
            @if (Model.Cars.Count() == 0)
            {
                <h1 class="text-center mt-5">Nothing here yet</h1>
            }
        </div>
    </div>
</div>